examples/sample_flow.json
[
    {
        "id": "7b3908c5.c15588",
        "type": "tab",
        "label": "ical events examples",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ab9fab9d.d6fd98",
        "type": "ical-upcoming",
        "z": "7b3908c5.c15588",
        "confignode": "64355aa8.aeea54",
        "cron": "",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "name": "upcoming with no filter",
        "offset": "",
        "endpreview": "10",
        "endpreviewUnits": "days",
        "pastview": "10",
        "pastviewUnits": "days",
        "trigger": "always",
        "filter": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "fc613b72.7ac058"
            ]
        ]
    },
    {
        "id": "fc613b72.7ac058",
        "type": "debug",
        "z": "7b3908c5.c15588",
        "name": "List of events with no filter",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "7c3b15e2.ea73bc",
        "type": "ical-sensor",
        "z": "7b3908c5.c15588",
        "confignode": "64355aa8.aeea54",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "name": "",
        "trigger": "always",
        "filter": "",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "faaf0ef7.1bf8f"
            ],
            [
                "8a8429ed.28f888"
            ]
        ]
    },
    {
        "id": "26bfb831.3b6ea8",
        "type": "ical-events",
        "z": "7b3908c5.c15588",
        "confignode": "64355aa8.aeea54",
        "cron": "* * * * *",
        "name": "",
        "offset": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "f0b4af86.7af44"
            ],
            [
                "d9106740.dbc478"
            ]
        ]
    },
    {
        "id": "78dadc34.0ec8a4",
        "type": "comment",
        "z": "7b3908c5.c15588",
        "name": "List of events between pastview and preview",
        "info": "",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "af9cfa9e.3b5578",
        "type": "comment",
        "z": "7b3908c5.c15588",
        "name": "true/false sensor for currectly running events",
        "info": "",
        "x": 210,
        "y": 260,
        "wires": []
    },
    {
        "id": "fc32d42c.609e38",
        "type": "comment",
        "z": "7b3908c5.c15588",
        "name": "separate trigger for event start and event end",
        "info": "",
        "x": 210,
        "y": 420,
        "wires": []
    },
    {
        "id": "f0b4af86.7af44",
        "type": "debug",
        "z": "7b3908c5.c15588",
        "name": "Output, when event starts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 370,
        "y": 460,
        "wires": []
    },
    {
        "id": "d9106740.dbc478",
        "type": "debug",
        "z": "7b3908c5.c15588",
        "name": "Output, when event ends",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 370,
        "y": 500,
        "wires": []
    },
    {
        "id": "faaf0ef7.1bf8f",
        "type": "debug",
        "z": "7b3908c5.c15588",
        "name": "true/false on every check",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 370,
        "y": 300,
        "wires": []
    },
    {
        "id": "8a8429ed.28f888",
        "type": "debug",
        "z": "7b3908c5.c15588",
        "name": "true/flase only on changes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 370,
        "y": 340,
        "wires": []
    },
    {
        "id": "3be8d025.7c3bd",
        "type": "ical-upcoming",
        "z": "7b3908c5.c15588",
        "confignode": "64355aa8.aeea54",
        "cron": "",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "name": "upcoming with a filter",
        "offset": "",
        "endpreview": "10",
        "endpreviewUnits": "days",
        "pastview": "10",
        "pastviewUnits": "days",
        "trigger": "match",
        "filter": "weekend.*",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "cbd71022.fbd21"
            ]
        ]
    },
    {
        "id": "cbd71022.fbd21",
        "type": "debug",
        "z": "7b3908c5.c15588",
        "name": "List of events with a filter",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "64355aa8.aeea54",
        "type": "ical-config",
        "z": "",
        "url": "http://testcalendar.neumann-benjamin.de:8080/cal.php",
        "username": "testing",
        "password": "test",
        "caldav": "true",
        "name": "",
        "replacedates": false,
        "calendar": "Default Calendar",
        "pastWeeks": "0",
        "futureWeeks": "4"
    }
]